<mat-toolbar>
    <!-- Logo -->
    <a routerLink="#">
        <img class="logo" src="{{logoPath}}" alt="Logo que representa a empresa Cine Teatro Matão">
    </a>
    <span class="spacer"></span>

    <!-- Menu List -->
    <mat-list role="list">
        <div class="d-flex">
            <mat-list-item role="listitem"><a mat-button routerLink="/#">Home</a></mat-list-item>
            <mat-list-item role="listitem"><a mat-button routerLink="/#">Programação</a></mat-list-item>
            <mat-list-item role="listitem"><a mat-button routerLink="/#">Lançamentos</a></mat-list-item>
            <mat-list-item role="listitem"><a mat-button routerLink="/#">Sobre nós</a></mat-list-item>
            <mat-list-item role="listitem"><a mat-button routerLink="/#">Contato</a></mat-list-item>
        </div>
    </mat-list>

</mat-toolbar>